.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.forest-love-main {
  margin-left: 10px;
}
.searchContainer {
  display: flex;
}
.search-column {
  flex: 1;
  margin-top: 10px;
  margin-right: 10px;
}

.searchButton {
  margin-top:15px;
}

.totals {
  margin-top: 10px;
}