body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
}
.snow-mountain {
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-position: right bottom;
	background-attachment: fixed;
}
.forest-love-intro {
	line-height: 2em;
}